.Navbar{
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    padding:45px ;
    position:fixed;
    background-color: white;
    top: 0;
    width: 90%;
    box-shadow:1px 1px 30px ;
    border-radius: 25px; 
}
.Navbar-links{
    margin-top: 3px;
    
    
}
.Navbar a{
    text-decoration: none;
    margin-left: 28px;
    
}
.Navbar-links a{
    color: #093542;
}

.Navbar-btn{

    box-shadow: 3px 3px 25px #093542; 
    background-color: #093542;
    width: 114px;
    height: 37px;
    border-radius: 12px
}
.Login-btn{
    color: white;

}
.Navbar-btn img{
    padding-top: 10px;
    width: 13px;
    height: 11px;
}