.Our_mission{
    padding: 25px;
   
    display: flex;
    justify-content: space-around;
}
.Our_mission_left{
    padding-top: 100px;

}
.Our_mission_left h1{
    text-align: left;
    font-size: 48px;
}
.Our_mission_left p{
    width: 75%;
    font-size: 24px;
}