.about-us{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.about-us-left {
    text-align: left;
    padding-left: 250px;
    padding-right: 250px;
}
.about-us-left h1{
    font-size: 48px;



}
.about-us-right{
    padding-right: 61px;
    padding-top: 69px;
}
.about-us-right img{
    
    width: 492px;
    height: 297px;
    border: 10px solid whitesmoke;
    border-radius: 38px;
    box-shadow: 3px 3px 25px #093542; 
   

}