.our-fea h1{
    font-size: 48px;

}

.our-fea-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.our-fea-col{
    width: 50%;

}
.our-fea-col p{
    width: 325px;
    padding-left: 260px;
   
    
}
.our-fea-col img{
    width: 100px;
    height: 105px;
}
.banner{
    margin: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 3px 3px 30px;
}
.banner-left{
    padding-top:  125px; ;
}
.banner h2{
    font-size: 45px;
}
.banner p{
    font-size: 25px;
}