.FAQs{
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px gray;
    padding-bottom: 25px;

}



.FAQs h1{
    padding-top: 15px;
    font-size: 48px;
  
}
.bar{
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 25px;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;

}
.bar img{
    width: 10px;
}
.bar h4{
    padding-top: 5px;
   margin: 0;
   font-size: 15px;
}



