.Main_page{
    padding-top: 45px;
    margin: 25px;
    display: flex;
    justify-content: space-between;

}
.Main_page h1{
    padding: left 25px; ;
    font-size: 65px;
    text-align: left;
}
.Main_page-right img{
    width: 568px;
    height: 568px;
}
.Main_page-left h3{
    color: gray;
    text-align: left;
    padding-left: 25px;
}